

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

/* Tarjetas */
.card {
    margin-bottom: 20px;
}

/* Imágenes responsivas */
img {
    max-width: 100%;
    height: auto;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .card {
        margin-bottom: 15px;
    }

    h1, h2, h3 {
        font-size: 1.5em; /* Ajustar el tamaño de los encabezados */
    }

    .form-control {
        font-size: 14px; /* Ajustar el tamaño de las entradas */
    }

    .btn {
        font-size: 14px; /* Ajustar el tamaño de los botones */
    }
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 20px;
    }

    .card {
        margin-bottom: 20px;
    }

    h1, h2, h3 {
        font-size: 1.75em; /* Ajustar el tamaño de los encabezados */
    }

    .form-control {
        font-size: 16px; /* Ajustar el tamaño de las entradas */
    }

    .btn {
        font-size: 16px; /* Ajustar el tamaño de los botones */
    }
}

/* Estilos para dispositivos grandes */
@media (min-width: 1025px) {
    .container {
        padding: 30px;
    }

    .card {
        margin-bottom: 30px;
    }

    h1, h2, h3 {
        font-size: 2em; /* Ajustar el tamaño de los encabezados */
    }

    .form-control {
        font-size: 18px; /* Ajustar el tamaño de las entradas */
    }

    .btn {
        font-size: 18px; /* Ajustar el tamaño de los botones */
    }
}