.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    margin-right: 10px;
}

.filter-container {
    margin-bottom: 20px;
}
.filter-container label {
    margin-right: 10px;
}
